@font-face {
  font-family: '0pen sans';
  src: url('/font/opensans-regular.woff2') format('woff2'),
       url('/font/opensans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: '0pen sans';
  src: url('/font/opensans-semibold.woff2') format('woff2'),
       url('/font/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

/* * {
  box-sizing: border-box;
} */

html {
  font-family: 'Open Sans';
  background-color: #e5e5e5;
  color: #333333;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
}

a {
  text-decoration: none;
  color: #9D5CD0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;;
}

.button {
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  border: 1px solid #9d5cd0;
  border-radius: 100px;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6.76%;
  padding-left: 6.94%;
} 

.logo {
  max-width: 100%;
}
  
/* Header */
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #000;
  z-index: 1;
}

.header__link {
  width: 19.4%;
  margin: 3px 11.15% 0  0;
}

.header__nav {
  width: 100%;
  margin: 5px 17.5% 0 0;
}

.header__list {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  margin: 0 0 7px 0;
  font-size: 18px;
  line-height: 24.51px;
  letter-spacing: 0.5px;
}

.header-nav__link {
  color: #fff;
}

.header__enter {
  width: 100px;
  padding: 0 0 1px 20px;
  letter-spacing: 1.4px;
  color: #fff;
  background-image: url(/img/header/Vector.svg);
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 0 2px;
}

.header__menu {
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 12.9% 0 8.3%;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  width: 67.5%;
}

.header-menu__item {
  letter-spacing: 1px;
}

.header-menu__search {
  position: relative;
  height: 26px;
  padding: 9px 0 0 3%;
  margin: 0 0 0 0;
  letter-spacing: 1px;
  color: #fff;
  background-image: url(/img/header/Search.svg);
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: 13px 9px;
}

.header-menu__search::after {
  content: '';
  position: absolute;
  width: 123%;
  height: 1px;
  left: 47px;
  top: 31px;
  background: rgba(255, 255, 255, 0.85);
}

/* Primary */
.primary {
  position: relative;
  top: -100px;
  left: 0;
  width: 100%;
  margin: 0 0 -20px 0;
}

.primary-container {
  padding: 241px 1168px 122px 155px;
  background-image: url(/img/primary/primary-background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.primary__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 437px;
  color: #fff;
}

.primary__title {
  font-size: 72px;
  line-height: 83px;
  font-weight: 600;
  letter-spacing: 1.9px;
}

.primary__description {
  margin: 0 0 72px 6px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.primary__button {
  text-align: center;
  width: 310px;
  height: 68px;
  padding: 0 0 0 2px;
  margin: 0 0 0 5px;
  line-height: 70px;
  letter-spacing: 1.2px;
  color: #fff;
  background-color: #9d5cd0;
}

/* About */
.about-container {
  width: 100%;
}

.about__title {
  margin: 0 0 16px -3px;
}

.about__description {
  padding: 0 520px 0 0;
  margin: 0 0 72px -1px;
  line-height: 32px;
}

/* Gallery */
.gallery-container {
  display: flex;
  width: 100%;
  height: 995px;
  padding: 80px 160px 80px 157px;
  color: #fff;
  background-image: url(/img/gallery/gallery-backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__function {
  max-width: 420px;
}

.gallery__title {
  margin: 0 0 65px 0.5px;
}

.gallery__select {
  width: 400px;
  margin: 0 0 550px 0;
}

.gallery__description {
  padding: 0 70px 0 0;
  line-height: 32px;
}

/* Catalog */
.catalog__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.catalog__bottom {
  display: flex;
  justify-content: space-between;
}

.catalog__biogrphy {
  width: 47%;
}

/* Events */
.events__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.events__item {
  width: 500px;
  height: 700px;
  padding: 300px 0 0 0;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #CACACA;
}

.events-item__shchuseva {
  background-image: url(/img/events/shchuseva.jpg);
}

.events-item__mmoma {
  background-image: url(/img/events/mmoma.jpg);
}

.events-item__european {
  background-image: url(/img/events/european.jpg);
}

.events-item__tretyakovka {
  background-image: url(/img/events/tretyakovka.png);
}

.events-item__mmam {
  background-image: url(/img/events/mmam.png);
}

/* Publications */
.publications-container {
  display: flex;
  height: 763px;
  padding: 80px 0 0 159px;
  color: #fff;
  background-image: url(/img/publications/publications-background.jpg);
  background-repeat: no-repeat;
  
}

.publications__category {
  width: 278px;
}

.publications__filter {
  display: flex;
  flex-direction: column;
  
}

.publications__slider {
  width: 1200px;
}

.publications__page {
  display: flex;
  justify-content: space-between;
}

.publications__item {
  width: 350px;
  height: 512px;
  padding: 390px 0 0 0;
  background-repeat: no-repeat;
}

.publication-itten {
  background-image: url(/img/publications/itten.jpg);
}

.publication-ruder {
  background-image: url(/img/publications/ruder.jpg);
}

.publication-gordon {
  background-image: url(/img/publications/gordon.jpg);
}

.publication__name {
  display: inline-block;
  margin-right: 130px;
}

.publication__cost {
  display: inline-block;
}

.publication__autor {
  display: block;
  margin-bottom: 20px;
}

/* Projects */
.partners__slider {
  display: flex;
  justify-content: space-between;
}

.partners__item {
  width: 450px;
  height: 150px;
  border: 1px solid #885BC7;
}

.partners-img {
  display: block;
  width: 244px;
  height: 63px;
  margin: 43px auto 43px;
}

/* Contacts */

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  background-color: black;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 175px;
}

.footer-social__item {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-social__vk {
  background-image: url(/img/footer/vk.png);
}

.footer-social__instagram {
  background-image: url(/img/footer/instagram.png);
}

.footer-social__facebook {
  background-image: url(/img/footer/fb.svg);
}