@font-face {
  font-family: '0pen sans';
  src: url('/font/opensans-regular.woff2') format('woff2'),
       url('/font/opensans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '0pen sans';
  src: url('/font/opensans-semibold.woff2') format('woff2'),
       url('/font/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: '0pen sans';
  src: url('/font/opensans-bold.woff2') format('woff2'),
       url('/font/opensans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  outline: none;
}

:root {
  --color-violet: #9d5cd0;
  --color-white: #fff;
  --color-border--focus: #7943A4;
  --color--hover: #C283F3;
}

html {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  background-color: #e5e5e5;
}

h2 {
  font-size: 1.9vw;
  font-weight: 400;
  line-height: 65.37px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.6px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;;
}

.button {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  border: 2px solid var(--color-violet);
  border-radius: 100px;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6%;
  padding-left: 6.3%;
}
  
/* Header */
.header-container {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.header__top {
  display: flex;
  background-color: #000;
  padding: 1.03% 8% 1.03% 8.35%;
}

.header__link {
  width: 19.4%;
  margin: 10px 11.15% 0  0;
}

.header__nav {
  width: 100%;
  padding: 0.8% 0 0 0;
  margin: 0 17% 0 0;
}

.header__list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 7px 0;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.header-nav__link {
  color: var(--color-white);
}

.header-nav__link:focus {
  border: 2px solid var(--color-border--focus);
}

.header-nav__link:hover {
  color: var(--color--hover);
}

.header-nav__link:active {
  color: #7943A4;
  border: none;
}

.header__enter {
  width: 6%;
  padding: 14px 4px 1px 28px;
  letter-spacing: 1.4px;
  color: var(--color-white);
  background-image: url(/img/header/Vector.svg);
  background-repeat: no-repeat;
  background-size: 13px 27px;
  background-position: 8px 16px;
}

.header__enter:focus {
  border: 2px solid var(--color-border--focus);
}

.header__enter:hover {
  color: var(--color--hover);
  background-image: url(/img/header/Vector-hover.svg);
}

.header__enter:active {
  color: #9D5CD0;
  background-image: url(/img/header/Vector-active.svg);
  border: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 4px 7.9% 2px 7.9%;
  background: rgba(0, 0, 0, 0.4);
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  width: 64%;
}

.header-menu__btn {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  background: none;
  border: none;
  cursor: pointer;
}

.header-menu__btn:focus {
  border: 2px solid var(--color-border--focus);
}

.header-menu__btn:hover {
  color: var(--color-violet);
}


.header-menu__btn:after {
  content: url(/img/header/arrow.png);
  position: absolute;
  top: 1%;
  left: 98%;
}

.header-menu__btn:hover:after {
  content: url(/img/header/arrow-hover.png);
}

/* .header-menu__btn:active:after {
  content: url(/img/header/arrow-active.png);
} */

/* .is-active:after {
  content: url(/img/header/arrow-active.png);
} */

.is-active:after,
.is-active:hover::after {
  content: url(/img/header/arrow-active.png);
  color: #7943A4;
}

.is-active,
.is-active:hover,
.is-active:focus {
  color: #7943A4;
  border: none;
}

.header-menu__drop {
  position: absolute;
  top: 100%;
  display: none;
  width: 220px;
  height: 220px;
  padding: 40px 40px 40px 40px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.is-active ~ .header-menu__drop {
  display: block;
}

/* .header-menu__drop--active {
  display: block;
} */

.simplebar-track.simplebar-vertical {
  top: 40px;
  right: 19px;
  width: 2px;
  height: 220px;
}

.simplebar-scrollbar {
  background-color: var(--color-violet);
 }

 .simplebar-track {
   background-color: #000;
 }

.header-drop__item {
  min-height: 40px;
  padding: 10px 0 0 14px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tintoretto {
  background-image: url(/img/header/tintoretto.png);
}

.fridrih {
  background-image: url(/img/header/fridrih.png);
}

.leonardo {
  background-image: url(/img/header/leonardo.png);
}

.verrokkyo {
  background-image: url(/img/header/verrokkyo.png);
}

.mone {
  background-image: url(/img/header/mone.png);
}

.sisley {
  background-image: url(/img/header/sisley.png);
}

.mane {
  background-image: url(/img/header/mane.png);
}

.renuar {
  background-image: url(/img/header/renuar.png);
}

.vangog {
  background-image: url(/img/header/vangog.png);
}

.sezann {
  background-image: url(/img/header/sezann.png);
}

.gogen {
  background-image: url(/img/header/gogen.png);
}

.syora {
  background-image: url(/img/header/syora.png);
}

.kandinsky {
  background-image: url(/img/header/kandinsky.png);
}

.marinetti {
  background-image: url(/img/header/marinetti.png);
}

.malevich {
  background-image: url(/img/header/malevich.png);
}

.picasso {
  background-image: url(/img/header/picasso.png);
}

.karra {
  background-image: url(/img/header/karra.png);
}

.pratella {
  background-image: url(/img/header/pratella.png);
}

.severini {
  background-image: url(/img/header/severini.png);
}

.balla {
  background-image: url(/img/header/balla.png);
}

.header__search {
  position: relative;
  display: flex;
  width: 16.2%;
  padding: 16px 1px 0 0;
}

.header-search__btn {
  width: 36px;
  height: 38px;
  margin: 0 3px 0 0;
  background-image: url(/img/header/Search.svg);
  background-repeat: no-repeat;
  background-position: 4px 7px;
  background-color: transparent;
  border: none;
}

.header-search__btn:focus {
  border: 1px solid var(--color-border--focus);
}

.header__search:hover .header-search__btn {
  background-image: url(/img/header/Search-hover.svg);
}

.header__search:hover .header-search__btn::after {
  background: var(--color--hover);
}

.header__search:active .header-search__btn::after {
  background: var(--color-white);
}

.header-search__input {
  width: 100%;
  max-height: 36px;
  padding: 0 0 5px 0;
  color: var(--color-white);
  background: transparent;
  border: none;
  letter-spacing: 1px;
  caret-color: #C283F3;
}

.header-search__input:focus {
  border: 2px solid var(--color-border--focus);
}

.header-search__input::placeholder {
  color: var(--color-white);
}

.header-search__btn::after {
  content: '';
  position: absolute;
  width: 83%;
  height: 1px;
  left: 37px;
  top: 44px;
  background: var(--color-white);
}

/* Primary */
.primary-container {
  --animate-duration: 7s;
}

.swiper-container {
  max-width: 1920px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  color: var(--color-white);
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.slide1 {
  background-image: url(/img/primary/primary-background1.jpg);
}

.slide2 {
  background-image: url(/img/primary/primary-background2.png);
}
.slide3 {
  background-image: url(/img/primary/primary-background3.png);
}

.primary__text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 12.55% 62% 6.3% 8.1%;
}

.primary__title {
  margin: 0 0 20px 0;
  font-size: 72px;
  line-height: 83px;
  font-weight: 600;
  letter-spacing: 1.9px;
}

.primary__description {
  margin: 0 0 91px 6px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.primary__button {
  text-align: center;
  width: 54%;
  margin: 0 0 0 5px;
  line-height: 66px;
  color: var(--color-white);
  background-color: var(--color-violet);
}

/* About */
.about-container {
  width: 100%;
}

.about__title {
  margin: 0 0 16px -3px;
}

.about__description {
  padding: 0 33% 0 0;
  margin: 0 0 70px -1px;
}

/* Gallery */
.gallery-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 995px;
  padding: 80px 160px 80px 157.7px;
  color: var(--color-white);
  background-image: url(/img/gallery/gallery-backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__function {
  width: 25.1%;
  margin: 0 0 0 0;
}

.gallery__title {
  margin: 0 0 16px 0;
}

.gallery__textfilter {
  display: inline-block;
  padding: 0 0 0 3px;
  margin: 0 0 10px 0;
  font-weight: 600;
}

.choices {
  padding: 0 0 0 3px;
  margin: 0 0 554px 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px;
}

.choices__inner {
  width: 100%;
  height: 40px;
  min-height: auto;
  background-color: transparent;
  padding: 0 0 0 9px;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
}

.is-focused .choices__inner {
  border: 1px solid var(--color-white);
}

.is-open .choices__inner {
  width: 100%;
  height: 40px;
  min-height: auto;
  background-color: transparent;
  padding: 0 0 0 9px;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
}

.is-open .choices__list--dropdown {
  width: 99.3%;
  max-height: 120px;
  color: #999;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item {
  padding: 3px 0 3px 20px;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item:first-child {
  border-top: 1px solid var(--color-white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(0, 0, 0, 0.6);
}

.choices[data-type*=select-one]:after {
  content: url(/img/gallery/select-arrow__down.svg);
  position: absolute;
  right: 15px;
  top: 4px;
  height: 10px;
  width: 10px;
  margin: 0;
  border: none;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  content: url(/img/gallery/select-arrow__up.svg);
  margin: 0;
  border: none;
}

.gallery__description {
  padding: 0 60px 0 3px;
  letter-spacing: 0.35px;
}

.gallery__slider {
  width: 71.8%;
  padding: 25px 0 0 0;
}

.swiper-container1 {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper__nav {
  display: flex;
  padding: 0 0 28px 4px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: inline-block;
  width: 4.5%;
}

.swiper-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ececec;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.swiper-button-prev1 {
  margin-right: 18px;
  background-image: url(/img/gallery/gallery-arrow__left.svg);
}

.swiper-button-next1 {
  background-image: url(/img/gallery/gallery-arrow__right.svg);
}

.swiper-button-prev1:focus {
  border: 2px solid var(--color-border--focus);
}

.swiper-button-next1:focus {
  border: 2px solid var(--color-border--focus);
}

.swiper-button-prev1:hover {
  background-color: var(--color-violet);
  background-image: url(/img/gallery/gallery-arrow__left--hover.svg);
}

.swiper-button-next1:hover {
  background-color: var(--color-violet);
  background-image: url(/img/gallery/gallery-arrow__right--hover.svg);
}

.swiper-button-prev1:active {
  background-color: #7943A4;
  border: 2px solid #d1a9f0;
}

.swiper-button-next1:active {
  background-color: #7943A4;
  border: 2px solid #d1a9f0;
}

.card {
  max-height: 350px;
}

.card::before {
  display: none;
  content: url(/img/gallery/zoom+.png);
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 25px;
  padding: 0 0 0 0;
  background-position: 0 0;
  
}

.card::after {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  background-color: rgba(194, 131, 243, .4);
}

.card:focus {
  border: 2px solid var(--color-border--focus);
}

.card:hover::before {
  display: block;
}

.card:active::after {
  display: block;
}

/* Catalog */
.catalog-container {
  padding-top: 80px;
  margin-bottom: 80px;
}

.catalog__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 40.6%;
  margin: 0 0 14px 0;
}

.catalog__title {
  margin: 0 0 3px -3px;
}

.catalog__lang {
  display: flex;
  justify-content: space-between;
  width: 431px;
  padding: 0 0 10px 0;
}

.lang__button {
  width: 46px;
  height: 46px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}



.lang__france {
  background-image: url(/img/catalog/france.png);
}
.lang__germany {
  background-image: url(/img/catalog/germany.png);
}
.lang__italy {
  background-image: url(/img/catalog/italy.png);
}
.lang__russia {
  background-image: url(/img/catalog/russia.png);
}
.lang__belgium {
  background-image: url(/img/catalog/belgium.png);
}

.lang__button:focus {
  border: none;
}

.lang__button:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.lang__button:active {
  border: 2px solid var(--color-violet);
  filter: none;
}




.catalog__description {
  width: 68%;
  margin: 0 0 38px 0;
}

.catalog__bottom {
  display: none;
  justify-content: space-between;
}

.catalog__bottom--active {
  display: flex;
}

.catalog__biography {
  display: none;
  width: 47%;
}

.catalog__biography--active {
  display: block;
}

/* .none {
  display: none;
} */

.catalog__portrait {
  margin: 0 0 21px 0;
}

.biography__name {
  margin: 0 0 0 0;
  letter-spacing: 0;
}

.biography__date {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.catalog__accordion {
  width: 50.3%;
  padding: 0 0 0 0;
}

.ui-accordion .ui-accordion-header {
  position: relative;
  display: block;
  height: 114.3px;
  margin: 0 0 0 0;
  padding: 38px 0 0 1px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0;
  box-sizing: border-box;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  cursor: pointer;
}

.ui-accordion .ui-accordion-header:focus {
  border: 2px solid var(--color-border--focus);
}

.ui-accordion .ui-accordion-header-collapsed:focus {
  border: 2px solid var(--color-border--focus);
}

.accordion .ui-accordion-header-icon {
	content: '';
	position: absolute;
	top: 29px;
	right: 6px;    
	display: inline-block;
	width: 50px;
	height: 50px;    
	background: url(/img/catalog/catalog-accordion__arrow--closed.png) 50% 50% no-repeat;
  background-color: #ECECEC;
  border-radius: 50%;
}

.accordion .ui-accordion-header-active .ui-accordion-header-icon {
	background-image: url(/img/catalog/catalog-accordion__arrow--open.png);
}

.ui-accordion .ui-accordion-content {
  box-sizing: border-box;
  width: 100%;
  height: 341px;
  padding: 27px 33px 0 0;
  /* border-top: 0; */
  /* overflow: auto; */
}

.accordion__list {
  margin: 0 0 0 0;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.accordion__item {
  width: 33%;
  margin: 0 0 0 0;
}

.accordion__btn {
  padding: 0 0 0 0;
  border: none;
  background-color: #e5e5e5;
}

.accordion__btn:focus {
  border: 2px solid var(--color-border--focus);
}

.accordion__btn:hover {
  color: var(--color-violet);
  border-bottom: 1px solid var(--color-violet);
}

.accordion__btn:active {
  color: #7943A4;
  border: none;
}

/* Events */
.events-container {
  width: 100%;
  padding-right: 6.2%;
  margin-bottom: 81px;
}

.events__title {
  letter-spacing: -1px;
}

.events__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.events__item {
  width: 500px;
  height: 700px;
  padding: 0 0 0 0;
  background: var(--color-white);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #CACACA;
}

.event-item__text {
  display: flex;
  flex-direction: column;
  height: 57%;
  padding: 5px 18px 48px 49px;
  margin: 0 0 0 0;
}

.event-item__date {
  display: block;
  text-align: right;
  width: 100%;
  margin: 0 0 5px 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.event-item__title {
  margin: 0 0 3px 0;
  letter-spacing: 0;
}

.event-item__description {
  width: 96%;
}

.event-item__link {
  width: 20%;
  margin-top: auto;
  color: var(--color-violet);
  border-bottom: 1px solid var(--color-violet);
}

.event-item__link:focus {
  border: 2px solid var(--color-border--focus);
}

.event-item__link:hover {
  font-weight: 700;
  color: var(--color-violet);
  border: none;
  border-bottom: 1px solid var(--color-violet);
}

.event-item__link:active {
  font-weight: 700;
  color: #7943A4;
  border: none;
  border-bottom: 1px solid #7943A4;
}

.events__button {
  width: 188px;
  height: 59px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-violet);
}

.events__button:focus {
  border: 2px solid var(--color-border--focus);
}

.events__button:hover {
  color: var(--color-white);
  background-color: #7943A4;
}

.events__button:active {
  color: var(--color-white);
  background-color: var(--color-violet);
}

#hidden1 {
  display: none;
}
#hidden2 {
  display: none;
}
#hidden3 {
  display: none;
}

/* Publications */
.publications-container {
  display: flex;
  justify-content: space-between;
  height: 763px;
  padding: 80px 127px 30px 156px;
  margin-bottom: 80px;
  color: var(--color-white);
  background-image: url(/img/publications/publications-background.jpg);
  background-repeat: no-repeat;
}

.publications__left {
  width: 17.4%;
}

.publications__title {
  margin: 0 0 16px 0;
  padding: 0 0 0 0;
  font-size: 1.88vw
}

.publications__category {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 4px;
  margin: 0 0 27px 0;
}

.publications-category__label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}

#check-1 {
  display: none;
}

#check-1 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-1 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-1:checked + .publications-category__span:before {
  opacity: 1;
}

#check-2 {
  display: none;
}

#check-2 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-2 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-2:checked + .publications-category__span:before {
  opacity: 1;
}
#check-3 {
  display: none;
}

#check-3 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-3 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-3:checked + .publications-category__span:before {
  opacity: 1;
}
#check-4 {
  display: none;
}

#check-4 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-4 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-4:checked + .publications-category__span:before {
  opacity: 1;
}
#check-5 {
  display: none;
}

#check-5 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-5 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-5:checked + .publications-category__span:before {
  opacity: 1;
}
#check-6 {
  display: none;
}

#check-6 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-6 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-6:checked + .publications-category__span:before {
  opacity: 1;
}
#check-7 {
  display: none;
}

#check-7 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-7 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-7:checked + .publications-category__span:before {
  opacity: 1;
}
#check-8 {
  display: none;
}

#check-8 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-8 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-8:checked + .publications-category__span:before {
  opacity: 1;
}
#check-9 {
  display: none;
}

#check-9 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-9 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-9:checked + .publications-category__span:before {
  opacity: 1;
}
#check-10 {
  display: none;
}

#check-10 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-10 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-10:checked + .publications-category__span:before {
  opacity: 1;
}
#check-11 {
  display: none;
}

#check-11 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-11 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-11:checked + .publications-category__span:before {
  opacity: 1;
}
#check-12 {
  display: none;
}

#check-12 + .publications-category__span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid var(--color-white);
}

#check-12 + .publications-category__span:before {
  content: '.';
  position: absolute;
  font-weight: 900;
  top: -15.5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check-12:checked + .publications-category__span:before {
  opacity: 1;
}

.publications-filter__cost {
  display: block;
  padding: 0 0 0 3px;
  margin: 0 0 7px 0;
}

.publications-filter__inputs {
  width: 277px;
  height: 40px;
  padding: 0 0 0 9px;
  margin: 0 0 0 4px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
}

.filter-price {
  width:63px;
  height: 38px;
  padding: 0 0 0 10px;
  margin: 0 6px 0 6px;
  border:none;
  background:var(--color-violet);
  font-size:16px;
  font-family:"Tahoma", sans-serif;
  text-align:left;
  color:white;
}

.publications__slider {
  width: 72.25%;
}

.swiper-container2 {
  width: 100%;
  overflow: hidden;
}

.swiper__nav2 {
  display: flex;
  padding: 34px 0 28px 0;
}

.swiper-button-prev2 {
  margin-right: 18px;
  background-image: url(/img/gallery/gallery-arrow__left.svg);
}

.swiper-button-next2 {
  background-image: url(/img/gallery/gallery-arrow__right.svg);
}

.swiper-button-prev2:focus {
  border: 2px solid var(--color-border--focus);
}

.swiper-button-next2:focus {
  border: 2px solid var(--color-border--focus);
}

.swiper-button-prev2:hover {
  background-color: var(--color-violet);
  background-image: url(/img/gallery/gallery-arrow__left--hover.svg);
}

.swiper-button-next2:hover {
  background-color: var(--color-violet);
  background-image: url(/img/gallery/gallery-arrow__right--hover.svg);
}

.swiper-button-prev2:active {
  background-color: #7943A4;
  border: 2px solid #d1a9f0;
}

.swiper-button-next2:active {
  background-color: #7943A4;
  border: 2px solid #d1a9f0;
}

.publications-slide__img {
margin: 0 0 8px 0;
}

.publications-slide__heading {
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin: 0 0 0 0;
}

.publications-slide__name {
  display: inline-block;
}

.publications-slide__cost {
  display: inline-block;
}

.publications-slide__autor {
  display: block;
  margin-bottom: 19px;
  line-height: 0.9;
}

.publications-slide__btn {
  width: 120px;
  height: 40px;
  padding: 0 0 3px 0;
  font-size: 16px;
  color: var(--color-white);
  background-color: transparent;
}

.publications-slide__btn:focus {
  
}

.publications-slide__btn:hover {
  background: var(--color-violet);
}

.publications-slide__btn:active {
  background: #7943A4;
  border:3px solid #d1a9f0;
}

/* Projects */
.projects-container {
  padding: 0 6% 0 6.1%;
  margin-bottom: 80px;
}

.projects__title {
  margin: 0 0 16px 0;
}

.projects__description {
  padding: 0 547px 0 5px;
  margin: 0 0 20px 0;
}

.projects__tooltip {
  position: relative;
  padding: 0 11px 0 11px;
}

.projects__marker {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  color: var(--color-violet);
  border-radius: 50%;
  border: 1px solid var(--color-violet);
  cursor: pointer;
}

.marker3 {
  right: 8px;
}

.projects__tooltip:hover .projects__marker {
  color: var(--color-white);
  background: #5b46a9;
}

.projects__popup {
  position: absolute;
  text-align: center;
  font-size: 12px;
  line-height: 16.34px;
  font-weight: 600;
  background: #CACACA;
  color: #FFFFFF;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.popup1 {
  bottom: 32px;
  left: -122px;
  width: 248px;
  height: 30px;
  padding: 11px 8px 10px 8px;
}
.popup2 {
  bottom: 29px;
  left: -122px;
  width: 248px;
  height: 45px;
  padding: 9px 8px 12px 8px;
}
.popup3 {
  bottom: 30px;
  left: -110px;
  width: 216px;
  height: 13px;
  padding: 9px 8px 12px 8px;
}

.projects__tooltip:hover .projects__popup,
.projects__tooltip:focus .projects__popup {
  opacity: 1;
}

.projects__popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 47%;
  border: 7px solid transparent;
  border-top: 8px solid #CACACA;
}

.projects__link {
  letter-spacing: 0.3px;
}

.project__partners {
  position: relative;
}

.partners__title {
  margin: 0 0 23px 0;
  padding: 0 0 0 2px;
  letter-spacing: 0;
}

.swiper-container3 {
  justify-content: space-between;
  max-width: 1451px;
  margin: 0 auto;
  overflow: hidden;
}

.partners__slider {
  min-height: 150px;
}

.partners__ffimg {
  background-image: url(/img/projects/ff-mono.svg);
  transition: background-image .1s linear;
}

.partners__icaimg {
  background-image: url(/img/projects/ica-mono.svg);
  transition: background-image .1s linear;
}

.partners__wacimg {
  background-image: url(/img/projects/wac-mono.svg);
  transition: background-image .1s linear;
}

.partners__1849img {
  background-image: url(/img/projects/1849-mono.svg);
  transition: background-image .1s linear;
}

.partners__hiscoximg {
  background-image: url(/img/projects/hiscox-mono.svg);
  transition: background-image .1s linear;
}

.partners__cacimg {
  background-image: url(/img/projects/cac-mono.svg);
  transition: background-image .1s linear;
}

.partners__stassenimg {
  background-image: url(/img/projects/stassen-mono.svg);
  transition: background-image .1s linear;
}

.partners__wgavimg {
  background-image: url(/img/projects/wgav-mono.svg);
  transition: background-image .1s linear;
}

.partners__esadimg {
  background-image: url(/img/projects/esad-mono.svg);
  transition: background-image .1s linear;
}

.partners__ffimg:hover {
  background-image: url(/img/projects/ff.svg);
}

.partners__icaimg:hover {
  background-image: url(/img/projects/ica.svg);
}

.partners__wacimg:hover {
  background-image: url(/img/projects/wac.svg);
}

.partners__1849img:hover {
  background-image: url(/img/projects/1849.svg);
}

.partners__hiscoximg:hover {
  background-image: url(/img/projects/hiscox.svg);
}

.partners__cacimg:hover {
  background-image: url(/img/projects/cac.svg);
}

.partners__stassenimg:hover {
  background-image: url(/img/projects/stassen.svg);
}

.partners__wgavimg:hover {
  background-image: url(/img/projects/wgav.svg);
}

.partners__esadimg:hover {
  background-image: url(/img/projects/esad.svg);
}

.swiper-button-prev3 {
  position: absolute;
  top: 115px;
  left: 4px;
  z-index: 1;
  margin-right: 47px;
  background-image: url(/img/gallery/gallery-arrow__left.svg);
}

.swiper-button-next3 {
  position: absolute;
  top: 115px;
  right: 5px;
  background-image: url(/img/gallery/gallery-arrow__right.svg);
}

.swiper-button-prev3:focus {
  border: 2px solid var(--color-border--focus);
}

.swiper-button-next3:focus {
  border: 2px solid var(--color-border--focus);
}

.swiper-button-prev3:hover {
  background-color: var(--color-violet);
  background-image: url(/img/gallery/gallery-arrow__left--hover.svg);
}

.swiper-button-next3:hover {
  background-color: var(--color-violet);
  background-image: url(/img/gallery/gallery-arrow__right--hover.svg);
}

.swiper-button-prev3:active {
  background-color: #7943A4;
  border: 2px solid #d1a9f0;
}

.swiper-button-next3:active {
  background-color: #7943A4;
  border: 2px solid #d1a9f0;
}
/* 
.qqq {

} */

/* .slide51 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CACACA;
} */

.partners__ff {
  width: 54%;
}

/* Contacts */
.contacts-container {
  padding: 0 0 0 0;
}

.contacts__title {
  padding: 0 0 0 156px;
  margin: 0 0 16px 0;
}

.contacts__general {
  display: flex;
  justify-content: space-between;
}

.contacts__left {
  display: flex;
  flex-direction: column;
  width: 682px;
  padding: 99px 120px 0 159px;
  border: 1px solid #CACACA;
}

.contacts__name {
  margin-bottom: 3px;
  letter-spacing: 0;
}

.contacts__address {
  font-style: normal;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 232px;
  padding: 28px 0 0 0;
  margin: 0 0 14px 0;
}

.contacts-form__heading {
  font-size: 24px;
  line-height: 27px;
}

.contacts-form__input {
  height: 35px;
  padding: 0 0 0 23px;
  border: 1px solid #333;
  border-radius: 100px;
}

.contacts-form__input::placeholder {
  color: #999;
}

.contacts-form__button {
  width: 157px;
  height: 59px;
  color: var(--color-violet);
}

.contacts-form__button:focus {
  border: 2px solid var(--color-border--focus);
}

.contacts-form__button:hover {
  color: var(--color-white);
  background-color: #7943A4;
}

.contacts-form__button:active {
  color: var(--color-white);
  background-color: var(--color-violet);
}

.contact-social {
  width: 100%;
  height: 200px;
}

.contact-social__heading {
  margin-bottom: 15px;
}

.contact-social__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.contact-social__whatsapp {
  background-image: url(/img/contacts/Whatsapp.svg);
}

.contact-social__telegramm {
  background-image: url(/img/contacts/Telegram.svg);
}

.contacts__map {
  width: 1238px;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding-right: 6.3%;
  background-color: black;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 173px;
}

.footer-social__item {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-social__vk {
  background-image: url(/img/footer/vk.png);
}

.footer-social__instagram {
  background-image: url(/img/footer/instagram.png);
}

.footer-social__facebook {
  background-image: url(/img/footer/fb.svg);
}

/* Hidden */
.hidden {
  display: none;
}