@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
        url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
        url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  outline: none;
  box-sizing: border-box;
}

:root {
  --color-9F0: #D1A9F0;
  --color-3F3: #C283F3;
  --color-3A4: #7943A4;
  --color-white: #fff;
  --color-black: #000;
  --color--hover: #C283F3;
  --color-violet: #9d5cd0;
  --color-border--focus: #7943A4;
}

.body {
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  background-color: var(--color-white);
}

.section-title {
  font-size: 48px;
  font-weight: 400;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
}

.link-style {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img {
  max-width: 100%;
}

.button {
  font-size: 18px;
  font-weight: 700;
  border: 2px solid var(--color-violet);
  border-radius: 100px;
  cursor: pointer;
}

.swiper-btn {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #666;
  cursor: pointer;
  transition-property: border, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.swiper-btn path {
  transition: stroke .2s linear;
}

.swiper-btn:hover path,
.swiper-btn:active path,
.swiper-btn:hover path,
.swiper-btn:active path {
  stroke: var(--color-white);
}

.swiper-btn:hover {
  border: 2px solid var(--color-violet);
  background: var(--color-violet);
}

.swiper-btn:active {
  border: 2px solid #D1A9F0;
  background: var(--color-3A4);
}

.swiper-btn__icon {
  position: absolute;
}

.swiper-btn__icon--left {
  top: 8px;
  left: 9px;
}

.swiper-btn__icon--right {
  top: 8px;
  left: 6px;
}

.swiper-pagination-fraction {
  width: max-content;
}

.container {
  max-width: 1610px;
  margin: 0 auto;
}
  
/* Header */
.header {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-bottom: 72px;
}

.header__background--black {
  background-color: var(--color-black);
}

.header__top {
  display: flex;
  padding: 28px 0 17px 3px;
}

.header__link {
  margin-right: 10.9%;
  border: 2px solid transparent;
}

.header__link .logo {
  border-bottom: 1px solid transparent;
  transition: border-bottom .2s linear;
}

.header__link:hover .logo {
  border-bottom: 1px solid var(--color-white);
}

.header__link:active .logo {
  border-bottom: 1px solid var(--color-violet);
}

.header__nav {
  width: 64%;
  margin-right: 9%;
  padding-top: 5px;
}


.header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.header__item {
  margin-right: 5.7%;
}

.header-nav__link {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  border: 2px solid transparent;
  transition: color .2s linear;
}

.header-nav__link:hover {
  color: var(--color--hover);
}

.header-nav__link:active {
  color: var(--color-3A4);
}

.header__enter {
  min-width: max-content;
  padding: 3px 2px 0 4px;
  font-size: 18px;
  color: var(--color-white);
  border: 2px solid transparent;
  transition: color .2s linear;
}

.header-enter__icon {
  margin-right: 3px;
}

.header__enter:hover {
  color: var(--color--hover);
}

.header-enter__icon path {
  transition: fill .2s linear;
}

.header-enter:hover .header-enter__icon path {
  fill: var(--color--hover);
}

.header__enter:active {
  color: var(--color-violet);
}

.header-enter:active .header-enter__icon path {
  fill: var(--color-violet);
}

.header__background--opacity {
  background: rgba(0, 0, 0, 0.4);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 4px 16px 1px;
  
}

.header-menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 0;
}

.header-menu__item:not(:last-child) {
  margin-right: 8.9%;
}

.header-menu__btn {
  position: relative;
  width: max-content;
  padding: 0;
  font-size: 18px;
  color: var(--color-white);
  border: 2px solid transparent;
  background: none;
  cursor: pointer;
  transition: color .2s linear;
}

.header-menu__btn:hover {
  color: var(--color-violet);
}

.header-menu__btn:active {
  color: var(--color-3A4);
}

.header-menu__btn path {
  transition: stroke .2s linear;
}

.header-menu__btn:hover path {
  stroke: var(--color-violet);
}

.header-menu__btn:active path{
  stroke: var(--color-3A4);
}

.header-menu__btn:active .header-menu__icon{
  transform: rotate(180deg);
}

.header-menu__btn--active {
  color: var(--color-3A4);
}

.header-menu__btn--active:hover {
  color: var(--color-3A4);
}

.header-menu__btn--active:hover path{
  stroke: var(--color-3A4);
}

.header-menu__btn--active path{
  stroke: var(--color-3A4);
}

.header-menu__btn--active .header-menu__icon{
  transform: rotate(180deg);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.header-menu__drop {
  position: absolute;
  top: 100%;
  width: 300px;
  height: 300px;
  padding: 30px 40px 30px 40px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.4);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .3s linear;
}

.header-menu__btn--active ~ .header-menu__drop {
  transform: scaleY(1);
}

.header-drop__list {
  width: 100%;
  height: 100%;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  right: -19px;
  width: 2px;
  height: 220px;
  background-color: var(--color-black);
}

.simplebar-scrollbar::before {
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 0;
background-color: var(--color-violet);
opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.header-drop__item {
  padding: 8px 0 9px 14px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header-drop__item:hover {
  border: 2px solid var(--color-violet);
}

.header-drop__item:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.tintoretto {
  background-image: url(../img/header/tintoretto.jpg);
}

.fridrih {
  background-image: url(../img/header/fridrih.jpg);
}

.leonardo {
  background-image: url(../img/header/leonardo.jpg);
}

.verrokkyo {
  background-image: url(../img/header/verrokyo.jpg);
}

.mone {
  background-image: url(../img/header/mone.jpg);
}

.sisley {
  background-image: url(../img/header/sisley.jpg);
}

.mane {
  background-image: url(../img/header/mane.jpg);
}

.renuar {
  background-image: url(../img/header/renuar.jpg);
}

.vangog {
  background-image: url(../img/header/vangog.jpg);
}

.sezann {
  background-image: url(../img/header/sezann.jpg);
}

.gogen {
  background-image: url(../img/header/gogen.jpg);
}

.syora {
  background-image: url(../img/header/syora.jpg);
}

.kandinsky {
  background-image: url(../img/header/kandinsky.jpg);
}

.marinetti {
  background-image: url(../img/header/marinetti.jpg);
}

.malevich {
  background-image: url(../img/header/malevich.jpg);
}

.picasso {
  background-image: url(../img/header/picasso.jpg);
}

.karra {
  background-image: url(../img/header/karra.jpg);
}

.pratella {
  background-image: url(../img/header/pratella.jpg);
}

.severini {
  background-image: url(../img/header/severini.jpg);
}

.balla {
  background-image: url(../img/header/balla.jpg);
}

.header__search {
  position: relative;
  display: flex;
  padding-right: 25px;
}

.header__search:hover .search__btn path,
.header__search:hover .search__btn rect {
  fill: var(--color-3F3);
}

.header__search:hover .search__btn::after {
  background: var(--color-3F3);
}

.search__btn {
  padding: 5px 4px 0 6px;
  border: 2px solid transparent;
  background-color: transparent;
}

.search__btn path,
.search__btn rect {
  transition: fill .2s linear;
}

.search__btn::after {
  content: '';
  position: absolute;
  left: 41px;
  top: 84%;
  width: 84%;
  height: 1px;
  background: var(--color-white);
  transition: background .2s linear;
}

.search__input {
  width: 100%;
  padding: 0 0 2px 0;
  color: var(--color-white);
  font-size: 18px;
  border: 2px solid transparent;
  background: transparent;
  caret-color: var(--color-3F3);
}

.search__input::placeholder {
  color: var(--color-white);
}

/* Primary */
.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding:0 !important;
	border:0 !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.primary {
  margin-bottom: 122px;
}

.primary-container {
  color: var(--color-white);
}

.swiper-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
}

.swiper-wrapper {
  --animate-duration: 10s;
}

.swiper-slide1 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main__slide1 {
  background-image: url(../img/primary/primary-background1.jpg);
}

.main__slide2 {
  background-image: url(../img/primary/primary-background2.jpg);
}

.main__slide3 {
  background-image: url(../img/primary/primary-background3.jpg);
}

.primary__text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-top: 242px;
}

.primary__title {
  max-width: 570px;
  margin-bottom: 19px;
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
}

.primary__description {
  max-width: 570px;
  padding-left: 5px;
  margin-bottom: 91px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.primary__button {
  position: relative;
  text-align: center;
  max-width: 314px;
  padding: 17px 0;
  margin-left: 5px;
  color: var(--color-white);
  border: 2px solid var(--color-violet);
  background-color: var(--color-violet);
  transition: border .2s linear;
}

.primary__button::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.primary__button.focus-visible::after {
  border: 2px solid var(--color-white)
}

.primary__button:hover {
  border: 2px solid var(--color-9F0);
}

.primary__button:active {
  background: var(--color-3A4);
  border: 2px solid var(--color-9F0);
}

/* About */
.about-container {
  padding: 97px 525px 70px 2px;
}

.about__title {
  margin-bottom: 32px;
}

.about__description {
  padding-left: 2px;
}

/* Gallery */
.gallery {
  background-image: url(../img/gallery/gallery-backgroud.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gallery-container {
  display: flex;
  padding: 80px 5px 70px 0;
  color: var(--color-white);
}

.gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25.4%;
  max-height: 100%;
  padding-left: 2px;
  margin-right: 48px;
}

.gallery__functional {
  padding-top: 17px;
}

.gallery__title {
  margin-bottom: 32px;
}

.gallery__textfilter {
  display: inline-block;
  padding-left: 3px;
  margin-bottom: 8px;
  font-weight: 600;
}

.choices {
  padding-left: 1px;
  margin-bottom: 554px;
  border: 2px solid transparent;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px;
}

.choices__inner {
  width: 100%;
  height: 40px;
  min-height: auto;
  padding: 0 0 0 9px;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  background-color: transparent;
}

.is-focused .choices__inner {
  border: 1px solid var(--color-white);
}

.is-open .choices__inner {
  width: 100%;
  height: 40px;
  min-height: auto;
  padding: 0 0 0 9px;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  background-color: transparent;
}

.is-open .choices__list--dropdown {
  width: 99.3%;
  max-height: 120px;
  color: #999;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: transparent;
}

.choices__list--dropdown .choices__item {
  padding: 3px 0 3px 20px;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item:first-child {
  border-top: 1px solid var(--color-white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(0, 0, 0, 0.6);
}

.choices__list--dropdown .is-selected{
  display: none;
}

.choices[data-type*=select-one]::after {
  content: url(../img/gallery/select-arrow__down.svg);
  position: absolute;
  top: 4px;
  right: 16px;
  width: 10px;
  height: 10px;
  margin: 0;
  border: none;
}

.choices[data-type*=select-one].is-open::after {
  content: url(../img/gallery/select-arrow__up.svg);
  margin: 0;
}

.gallery__description {
  padding: 0 60px 0 2px;
  font-weight: 600;
}

.gallery__link {
  position: relative;
  color: var(--color-violet);
  border: 2px solid transparent;
}

.gallery__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  transition: background-color .2s linear;
}

.gallery__link:hover::after {
  background-color: var(--color-violet);
}

.gallery__link:active {
  color: var(--color-3A4);
}

.gallery__link:active::after {
  background:var(--color-3A4);
}

.swiper-container1 {
  max-width: 1150px;
  height: 835px;
  padding-top: 25px;
  margin-bottom: 10px;
  overflow: hidden;
}

.swiper__nav {
  display: flex;
  width: 30%;
  padding: 0 0 28px 3px;
}

.swiper-button-prev1 {
  margin-right: 18px;
}

.swiper-pagination1 {
  margin-right: 18px;
}

.card {
  height: calc((100% - 110px) / 2);
  border: 2px solid transparent;
}

.card::before {
  content: url(../img/gallery/zoom+.png);
  position: absolute;
  top: 23px;
  left: 23px;
  display: none;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  display: none;
  width: 346px;
  height: 346px;
  background-color: rgba(194, 131, 243, .4);
}

.card:hover::before {
  display: block;
}

.card:active::after {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0, .7);
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
}

.modal__artist {
  display: none;
  max-width: 900px;
  padding: 121px 50px 123px 450px;
  color: #333;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-size: 44% 100%;
}

.modal-artist--13 {
  background-image: url(/img/gallery/gallery13.jpg);
}
.modal-artist--14 {
  background-image: url(/img/gallery/gallery14.jpg);
}
.modal-artist--15 {
  background-image: url(/img/gallery/gallery15.jpg);
}
.modal-artist--16 {
  background-image: url(/img/gallery/gallery16.jpg);
}
.modal-artist--17 {
  background-image: url(/img/gallery/gallery17.jpg);
}
.modal-artist--18 {
  background-image: url(/img/gallery/gallery18.jpg);
}
.modal-artist--1 {
  background-image: url(/img/gallery/gallery1.jpg);
}
.modal-artist--2 {
  background-image: url(/img/gallery/gallery2.jpg);
}
.modal-artist--3 {
  background-image: url(/img/gallery/gallery3.jpg);
}
.modal-artist--4 {
  background-image: url(/img/gallery/gallery4.jpg);
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all .3s linear;
}

.modal__artist--visible {
  display: block;
  
}

.modal-artist__name {
  margin: 0;
  line-height: 1;
}

.modal-artist__picture {
  font-weight: 600;
  line-height: 0;
}

.modal-artist__date {
  display: block;
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 0;
  color: #969696;
}

/* Catalog */
.catalog-container {
  padding: 90px 0 42px 2px;
}

.catalog__top {
  display: flex;
  margin-bottom: 14px;
}

.catalog__title {
  padding-top: 7px;
  margin: 0 41px 19px 0;
}

.lang__button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: filter .2s linear;
}

.lang__button:not(:last-child) {
  margin-right: 41.8px;
}

.lang__button::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 62px;
  height: 62px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border .2s linear;
}

.lang__button:focus::before {
  border: 2px solid var(--color-violet);
}

.lang__button.focus-visible {
  border: 2px solid transparent;
}

.lang__button:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.lang__button:active {
  border: 2px solid var(--color-violet);
}

.lang__button:active::before{
  border: 2px solid transparent;
}

.lang__france {
  background-image: url(../img/catalog/france.jpg);
}
.lang__germany {
  background-image: url(../img/catalog/germany.jpg);
}
.lang__italy {
  background-image: url(../img/catalog/italy.jpg);
}
.lang__russia {
  background-image: url(../img/catalog/russia.jpg);
}
.lang__belgium {
  background-image: url(../img/catalog/belgium.jpg);
}

.lang__button--active::before {
  border: 2px solid var(--color-border--focus);
}

.catalog__description {
  padding: 0 520px 0 2px;
  margin-bottom: 38px;
}

.catalog__bottom {
  display: none;
  justify-content: space-between;
}

.catalog__bottom--active {
  display: flex;
}

.catalog__biography {
  display: none;
  max-width: 47%;
  padding-left: 3px;
}

.catalog__biography--active {
  display: block;
}

.catalog__portrait {
  margin-bottom: 21px;
}

.biography__name {
  margin: 0;
}

.biography__date {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.catalog__accordion {
  width: 50%;
  padding-right: 0;
}

.ui-accordion .ui-accordion-header {
  position: relative;
  display: block;
  height: 114.3px;
  padding: 39px 0 74px 0;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid transparent;
  cursor: pointer;
  transition-property: border, color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.ui-accordion .ui-accordion-header:first-child {
  border-top: 1px solid #CACACA;
}

.ui-accordion .ui-accordion-header:first-child:hover {
  border-top: 1px solid var(--color-violet);
}

.ui-accordion .ui-accordion-header:first-child:active {
  border-top: 1px solid var(--color-3A4);
}

.ui-accordion .ui-accordion-header.focus-visible {
  border: 2px solid var(--color-border--focus);
}

.ui-accordion-header-collapsed.focus-visible {
  border: 2px solid var(--color-border--focus);
}

.ui-accordion-header-active.focus-visible {
  border: 2px solid var(--color-border--focus);
}

.ui-accordion .ui-state-hover {
  color: var(--color-violet);
  border-top: 1px solid var(--color-violet);
  border-bottom: 1px solid var(--color-violet);
}

.ui-accordion .ui-state-hover:active {
  color: var(--color-3A4);
  border-top: 1px solid var(--color-3A4);
  border-bottom: 1px solid var(--color-3A4);
}

.accordion .ui-accordion-header-icon {
	content: '';
	position: absolute;
	top: 32px;
	right: 5px;
	display: inline-block;
	width: 50px;
	height: 50px;
  border-radius: 50%;
	background: url(../img/catalog/catalog-accordion__arrow--closed.svg) 50% 50% no-repeat;
  background-color: #ECECEC;
  transition: background .2s linear;
}

.accordion .ui-accordion-header-active .ui-accordion-header-icon {
	background-image: url(../img/catalog/catalog-accordion__arrow--open.svg);
}

.ui-accordion .ui-state-hover .ui-accordion-header-icon {
  background-color: var(--color-violet);
}

.ui-accordion .ui-state-hover .ui-icon-triangle-1-e {
  background-image: url(../img/catalog/catalog-accordion__arrow-closed--hover.svg);
}

.accordion .ui-accordion-header-active:hover .ui-accordion-header-icon {
  background-image: url(../img/catalog/catalog-accordion__arrow-open--hover.svg);
}

.ui-accordion .ui-state-hover:active .ui-accordion-header-icon {
  background-color: var(--color-3A4);
}

.ui-accordion .ui-accordion-content {
  width: 100%;
  max-height: 343px;
  padding: 26px 30px 26px 0;
  border-top: 1px solid var(--color-violet);
  border-bottom: 1px solid var(--color-violet);
}

.accordion__list {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.accordion__item {
  width: 27%;
}

.accordion__btn {
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition-property: border, color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.accordion__btn:hover {
  color: var(--color-violet);
  border-bottom: 2px solid var(--color-violet);
}

.accordion__btn:active {
  color: var(--color-3A4);
  border-bottom: 2px solid transparent;
}

.accordion__tab--active {
  color: var(--color-violet);
}

/* Events */
.events-container {
  padding: 58px 0 80px 4px;
}

.events__title {
  margin-bottom: 30px;
}

.events__list {
  display: flex;
  padding-left: 2px;
  margin-bottom: 25px;
}

.events__item {
  max-width: 500px;
  border: 1px solid #CACACA;
  background: var(--color-white);
}

.events__item:not(:last-child) {
  margin-right: 50px;
}

.event-item__img {
  width: 100%;
}

.event-item__text {
  display: flex;
  flex-direction: column;
  min-height: 389px;
  padding: 4px 18px 41px 49px;
}

.event-item__date {
  display: block;
  text-align: right;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.event-item__title {
  margin: 0 0 4px 0;
}

.event-item__description {
  padding-right: 30px;
  margin-bottom: auto;
}

.event-item__link {
  max-width: 22%;
  line-height: 28px;
  color: var(--color-violet);
  border: 2px solid transparent;
  border-bottom: 1px solid var(--color-violet);
  transition: font-weight .2s linear;
}

.event-item__link:hover {
  font-weight: 700;
  color: var(--color-violet);
  border-bottom: 1px solid var(--color-violet);
}

.event-item__link:active {
  font-weight: 700;
  color: var(--color-3A4);
  border-bottom: 1px solid var(--color-3A4);
}

.events__button {
  position: relative;
  display: block;
  padding: 18px 32px 18px 32px;
  margin: 0 auto;
  color: var(--color-violet);
  background-color: var(--color-white);
  transition-property: color, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.events__button::after {
  content: '';
  position: absolute;
  top: -7px;
  right: -7px;
  left: -7px;
  bottom: -7px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.events__button.focus-visible::after {
  border: 2px solid var(--color-3F3);
}

.events__button:hover {
  color: var(--color-white);
  background-color: var(--color-violet);
}

.events__button:active {
  color: var(--color-white);
  border: 2px solid var(--color-9F0);
  background: var(--color-3A4);
}

#hidden1 {
  display: none;
}
#hidden2 {
  display: none;
}
#hidden3 {
  display: none;
}

/* Publications */
.publications {
  background-image: url(../img/publications/publications-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.publications-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 5px 70px 1px;
  color: var(--color-white);
}

.publications__left {
  padding-top: 17px;
  margin-right: 10%;
}

.publications__title {
  margin-bottom: 16px;
}

.publications__category {
  display: flex;
  flex-direction: column;
  padding: 16px 32px 0 0;
  margin-bottom: 27px;
  white-space:nowrap
}

.publications-category__title {
  padding-left: 3px;
}

.publications-category__label {
  width: max-content;
}

.publications-category__label input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.publications-category__label span {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 28px;
}

.publications-category__label span::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-white);
  display: inline-block;
  margin-right: 12px;
}

.publications-category__label span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 100%;
  opacity: 0;
}

input[type="checkbox"] ~ span {
  padding: 0 2px;
  border: 2px solid transparent;
}

.publications-category__label input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

input[type="checkbox"].focus-visible ~ span {
  border: 2px solid var(--color-border--focus);
}

.publications-category__span {
  transition: color .2s linear;
}

.publications-category__span:hover {
  color: #C283F3;
}

.publications-category__span::before {
  transition: border .2s linear;
}

.publications-category__span:hover::before {
  border: 1px solid var(--color-3F3);
}

.publications-category__span::after {
  transition: background-color .2s linear;
}

.publications-category__span:hover::after {
  background-color: var(--color-3F3);
}

.publications-category__span.is-active {
  color: var(--color-3F3);
}

.publications-category__span.is-active::before {
  border: 1px solid var(--color-3F3);
}

.publications-category__span.is-active::after {
  background-color: var(--color-3F3);
}

.publications-category__span:active {
  color: var(--color-3A4);
}
.publications-category__span:active::before {
  border: 1px solid var(--color-3A4);
}
.publications-category__span:active::after {
  background-color: var(--color-3A4);
}

.publications__filter {
  padding: 0 11px 0 4px;
}

.publications-filter__cost {
  display: block;
  margin-bottom: 7px;
}

.publications-filter__inputs {
  min-width: 278px;
  padding: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.filter-price {
  max-width:73px;
  max-height: 38px;
  padding: 10px 0 10px 10px;
  margin-right: 7px;
  color:white;
  border: 2px solid transparent;
  background: rgba(157, 92, 208, 0.5);
}

.filter-price.focus-visible {
  border: 2px solid transparent;
}

.swiper-container2 {
  max-width: 1150px;
  overflow: hidden;
}

.swiper__nav2 {
  display: flex;
  justify-content: start;
  padding: 34px 0 28px 0;
}

.swiper-button-prev2 {
  margin-right: 18px;
}

.swiper-pagination2 {
  margin-right: 18px;
}

.publications-slide__img {
  margin-bottom: 8px;
}

.publications-slide__description {
  padding-bottom: 7px;
  padding-left: 3px;
}

.publications-slide__heading {
  display: flex;
  justify-content: space-between;
}

.publications-slide__autor {
  display: block;
  margin-bottom: 18px;
  line-height: 0.9;
}

.publications-slide__btn {
  position: relative;
  padding: 8px 18px 10px 18px;
  font-size: 16px;
  color: var(--color-white);
  background-color: transparent;
  transition: background .2s linear;
}

.publications-slide__btn::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.publications-slide__btn.focus-visible::before {
  border: 2px solid var(--color-3F3);
}

.publications-slide__btn:hover {
  background: var(--color-violet);
}

.publications-slide__btn:active {
  border:2px solid var(--color-9F0);
  background: var(--color-3A4);
}

/* Projects */
.projects-container {
  padding: 97px 0 30px 1px;
}

.projects__title {
  margin-bottom: 32px;
}

.projects__description {
  padding: 0 547px 0 3px;
  margin-bottom: 20px;
}

.projects__tooltip {
  position: relative;
  display: inline-block;
}

.projects__btn {
  position: relative;
  top: 0;
  right: 1px;
  width: 16px;
  height: 16px;
  padding: 0;
  font-size: 12px;
  color: var(--color-white);
  background-color: var(--color-violet); 
  border: 2px solid transparent;
  border-radius: 50%;
}

.projects__tooltip .projects__popup {
  position: absolute;
  left: 50%;
  bottom: 35px;
  width: max-content;
  max-width: 264px;
  text-align: center;
  padding: 8px 13px 10px 13px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--color-white);
  background-color: #cacaca;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s linear;
}

.projects__tooltip button:hover + .projects__popup,
.projects__tooltip button:focus + .projects__popup {
  opacity: 1;
  visibility: visible;
}

.projects__link {
  color: var(--color-violet);
  letter-spacing: 0.3px;
  border: 2px solid transparent;
  transition: border .2s linear;
}

.projects__link:hover {
  border-bottom: 1px solid var(--color-violet);
}

.projects__link:active {
  color: var(--color-3A4);
  border-bottom: 1px solid var(--color-3A4);
}

.project__partners {
  position: relative;
}

.partners__title {
  padding-left: 2px;
  margin: 0 0 20px 0;
}

.swiper-container3 {
  display: flex;
  justify-content: space-between;
  width: 90.2%;
  margin: 0 auto;
  overflow: hidden;
}

.partners__slider {
  min-height: 155px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-image .2s linear;
}

.partners__img {
  width: 100%;
  transition: filter .2s linear;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.partners__img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none; /* IE 6-9 */
}

.swiper-button-prev3 {
  position: absolute;
  top: 114px;
  left: 3px;
  z-index: 1;
  margin-right: 47px;
  background-color: #ECECEC;
}

.swiper-button-next3 {
  position: absolute;
  top: 114px;
  right: 4px;
  background-color: #ECECEC;
}

/* Contacts */
.contacts__title {
  padding: 57px 0 32px 1px;
}

.contacts-container {
  display: flex;
  max-width: 100%;
  padding-right: 0;
  padding-left: calc((100vw - 1610px) / 2);
  margin: 0;
  border-top: 1px solid #CACACA;
}

.contacts__left {
  display: flex;
  flex-direction: column;
  padding: 99px 0 114px 3px;
  margin-right: 122px;
}

.contacts__name {
  padding-left: 2px;
  margin-bottom: 3px;
}

.contacts__number {
  font-weight: 400;
}

.contacts__address {
  font-style: normal;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  padding: 28px 0 0 2px;
  margin-bottom: 38px;
}

.contacts-form__heading {
  margin-bottom: 16px;
  font-size: 24px;
}

.contacts-form__label {
  position: relative;
}

.contacts-form__input {
  padding: 10px 202px 10px 23px;
  margin-bottom: 23px;
  border: 1px solid #333;
  border-radius: 100px;
}

.contacts-form__input::placeholder {
  color: #999;
}

.js-validate-error-label {
  position: absolute;
  top: 35px;
}

.contacts-form__button {
  position: relative;
  max-width: 157px;
  padding: 17px 0;
  color: var(--color-violet);
  background-color: var(--color-white);
  transition-property: background, color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.contacts-form__button::before {
  content: '';
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.contacts-form__button.focus-visible::before {
  border: 2px solid var(--color-3F3);
}

.contacts-form__button:hover {
  color: var(--color-white);
  background: var(--color-violet);
}

.contacts-form__button:active {
  color: var(--color-white);
  border:2px solid var(--color-9F0);
  background: var(--color-3A4);
}

.contact-social__heading {
  margin: 0 0 13px 0;
  font-weight: 400;
}

.contact-social__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 12px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  transition: border .2s linear;
}

.contact-social__link:hover {
  border: 2px solid var(--color--hover);
}

.contact-social__link:active path {
  fill:rgba(0, 0, 0, 0.3)
}

.contacts__map {
  width: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none;
}

/* Footer */
.footer {
  background-color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 14px 0 3px 3px;
}

.footer__link {
  margin-right: 20px;
  border: 2px solid transparent;
}

.footer__link .logo {
  border-bottom: 1px solid transparent;
  transition: border-bottom .2s linear;
}

.footer__link:hover .logo {
  border-bottom: 1px solid var(--color-white);
}

.footer__link:active .logo {
  border-bottom: 1px solid var(--color-violet);

}

.footer__social {
  padding-right: 2px;
}

.footer-social__item:not(:last-child) {
  margin-right: 9px;
}

.footer-social__icon path {
  transition: fill .2s linear;
}

.footer-social__icon {
  width: 51px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.footer-social__item.focus-visible .footer-social__icon {
  border: 2px solid var(--color-border--focus);
}

.footer-social__item.focus-visible {
  border: none;
}

.footer-social__icon:hover path {
  fill: white;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  border: 2px solid var(--color-border--focus);
}